@model List<Tesst1.Models.OrderDetails>


<body>

    <div id="wrapper">


        @if (string.IsNullOrEmpty(Session["Email"]?.ToString()))
        {
            @Html.Partial("_Header")
        }
        else
        {

            @Html.Partial("_Header_after_login")
        }
        <h1 style="text-align:center; font-size:50px;padding:30px;">Thông tin đơn mua</h1>
        @if (Model.Count <= 0 || string.IsNullOrEmpty(Session["Email"]?.ToString()))
        {


            <h1 style="text-align:center; font-size:50px;padding:30px;">Đơn mua rỗng của bạn đang rỗng</h1>

        }
        else
        {
            <div class="wp-content-cart hr-red">
                <div class="wp-set-auto-screen auto">
                    <!-- // vouncher  -->
                    <!-- // header-cart-order  -->
                    <div class="header-your-cart auto-dlf mb-12">

                        <div class="sp-text fs-17">Sản phẩm</div>
                        <div class="unit-price-text fs-17">Đơn Giá</div>
                        <div class="qty-text fs-17">Số Lượng</div>
                        <div class="amount-text fs-17">Số Tiền</div>


                    </div>
                    <!-- //wp-shop -->
                    @{ double totalmoney = 0;}



                    @foreach (var item in Model)
                    {
                        double price = Convert.ToDouble(@item.Price);

                        double total1 = Convert.ToDouble(@item.Price * @item.Amount);



                        <div id="wp-shop" class="mb-1">

                            <div id="main-shop" class="header-your-cart auto-dlf">

                                <div id="shop" class="sp-text fs-17 d-fl">
                                    <div class="image-product">
                                        <img src="~/public/images/@item.Products.ProductImage" width="80px" height="80px" />
                                    </div>
                                    <div class="product-name">
                                        <a href="" class="product-name-link">
                                            @item.Products.ProductName

                                        </a>
                                    </div>
                                </div>

                                <div class="unit-price-text fs-17">@price.ToString("#,##0").Replace(',', '.') VNĐ</div>
                                <div class="unit-price-text fs-17">@item.Amount</div>
                                <div class="unit-price-text fs-17">@total1.ToString("#,##0").Replace(',', '.') VNĐ</div>




                            </div>
                        </div>
                    }




                </div>


            </div>



        }
    </div>
    @Html.Partial("_Footer")

</body>
